<!DOCTYPE html>
<html>
  <head>
    <title>Dog Breed Search</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <% if flash[:error] %>
      <%= render partial: 'partial/errors', locals: { error_message: flash[:error] } %>
    <% end %>
    <%= yield %>
  </body>
</html>
